unless _.isEmpty(resume.languages)
    .detail#languages
        .icon
            i.fs-lg.icon-language
            span.mobile-title Langues

        .info
            h4.title.text-uppercase Langues

            .content
                ul.list-unstyled.clear-margin
                    - each language in resume.languages
                        li.card.card-nested.card-languages
                            .language-info
                                strong #{language.language}&nbsp;
                                span= language.fluency

